{% extends 'base.html.twig' %}

{% block title %}Nouvelle disponibilité{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle disponibilité</h1>

    {{ include('dispo/_form.html.twig') }}

    <a href="{{ path('disponnibilite_list') }}">back to list</a>
{% endblock %}
