{% extends 'base.html.twig' %}

{% block title %}Modification du module {{ matiere.nom }}{% endblock %}

{% block body %}
    <h1>Modifier le module {{ matiere.nom }}</h1>

    {{ form(MatiereModifierFormType) }}

{% endblock %}
