{% extends 'base.html.twig' %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}
    <h1>Liste des intervenants</h1>
    <table>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
        </tr>
        {% for intervenant in intervenants %}
            <tr>
            <td> {{ intervenant.nomIntervenant }} </td>
            <td> {{ intervenant.prenomIntervenant }} </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
