{% extends 'base.html.twig' %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}

<th>

    {% for intervenant in intervenants %}

     <td> {{ intervenant.nomIntervenant }} {{ intervenant.prenomIntervenant }} </td>

    {% endfor %}

</th>

{% endblock %}
