{% extends 'base.html.twig' %}

{% block title %}Modification de l'intervenant {{ intervenant.nom }}{% endblock %}

{% block body %}
    <h1>Modifier l'intervenant {{ intervenant.prenom }} {{ intervenant.nom }}</h1>

    {{ form(IntervenantModifierFormType) }}

{% endblock %}
