{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <h1>Nouvelle intervention</h1>

    {{ include('planning/_form.html.twig') }}

    <a href="{{ path('planning_list') }}">back to list</a>
{% endblock %}
