<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">PlanningSchool</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Accueil
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="/planning">Emploi du temps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/intervenants">Professeur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/module">Module</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dispo">Disponibilité</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dispo">Etudiant</a>
                            </li>
                        {% endif %}  
                    </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <div class="nav-item">
                                <a class="nav-link text-light " href="/login">Connexion</a>
                            </div>
                            {% if app.user %}
                                <div class="nav-item">
                                    <a class="nav-link text-light" href="/logout">Deconnexion</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-light">Test</a>
                                </div>
                            {% endif %}    
                        </div>
                </div>
                </nav>
        {% endblock %}
        <div class="container">
          {% block body %}{% endblock %}
        <div>
    </body>
</html>
